{
	"presets": [
		[
			"es2015",
			{
				"loose": true
			}
		]
	],
	"env": {
		"utils": {
			"plugins": [
				[
					"module-resolver",
					{
						"root": [
							"kzjr_ui"
						],
						"alias": {
							"kzjr_ui/src": "kzjr_ui/lib"
						}
					}
				]
			]
		}
	}
}
